<div class=" bg-body-tertiary" id="contact">
    <div class="container col-xxl-8 px-6 py-8 py-lg-10">
      <div class="p-3 pb-md-6 text-center">
        <h2 class="h1 text-uppercase">{{ .Site.Data.hometext.contact.title }}</h2>
      </div>
      <div class="p-3 pb-md-4 text-center">
        {{ range .Site.Data.hometext.contact.list }}
        <a href="{{ .url }}" class="fs-4 text-body-secondary text-decoration-none">
          <img src="{{ .icon }}" width="100">
          <span class="d-none d-lg-inline-block">{{ .text }}</span>
        </a>
        {{ end }}
      </div>
    </div>
</div>
